.title {
  font-weight: bold;
  color: #0a0f40;
  font-size: 2.8rem;
  transition: opacity 0.2s ease, transform 0.2s ease;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    max-width: 300px;
  }
}
