.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  background-color: transparent;
  z-index: 99999;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  .title {
    background-color: #ffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .nav {
    ul {
      display: flex;
      gap: 4rem;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: all 0.3s ease;

        a {
          position: relative;
          color: #fff;
          font-size: 1.1rem;
          text-decoration: none;

          &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0%;
            height: 3px;
            background-color: #6b21c1;
            transition: width 0.3s ease;
          }

          &:hover::after {
            width: 100%;
          }
        }

        .iconArrow {
          color: #fff;
          margin-left: 10px;
        }
      }

      .contato {
        border: 2px solid #fff;
        border-radius: 1.5rem;
      }

      .dropdown {
        position: relative;
        cursor: pointer;

        &:hover .dropdownMenu {
          display: flex;
        }

        .dropdownMenu {
          display: none;
          position: absolute;
          top: 100%;
          left: -150px;
          height: 500px;
          width: 300px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          // background-color: rgba(255, 255, 255, 0.1);
          background-color: #fff;
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

          li {
            a {
              color: #000;
              text-decoration: none;
              transition: background-color 0.3s ease;

              &:hover {
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .title {
    background-color: transparent;
    -webkit-text-fill-color: #6b21c1;
  }

  .nav {
    ul {
      li {
        a {
          color: #6b21c1;

          &::after {
            background-color: #6b21c1;
          }
        }

        .iconArrow {
          color: #6b21c1;
        }
      }

      .contato {
        border-color: #6b21c1;
      }

      .dropdownMenu {
        background-color: #fff;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        li {
          a {
            color: #6b21c1 !important;
            text-decoration: none;
            transition: background-color 0.3s ease;

            &:hover {
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
