.commentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  min-height: 320px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: scale(0.5);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }

  .profileImage {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #6b21c1;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .student-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: #000;
  }

  .student-location {
    font-style: italic;
    color: #8d8c8c;
    margin-bottom: 0.5rem;
  }

  .comment-text {
    font-size: 0.95rem;
    line-height: 1.4;
    text-align: center;
  }

  .time {
    color: #8d8c8c;
    font-size: 0.85rem;
    margin-top: 1rem;
  }
}

// Responsividade
@media (max-width: 768px) {
  .commentCard {
    min-height: auto;
    padding: 15px;

    .profileImage {
      width: 70px;
      height: 70px;
      border-width: 4px;
    }

    .student-name {
      font-size: 1rem;
    }

    .comment-text {
      font-size: 0.9rem;
    }

    .time {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 480px) {
  .commentCard {
    max-width: 100%; // um card por linha
  }
}
