.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start; // alinha no topo
  padding-top: 10vh; // empurra o conteúdo um pouco pra baixo
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 60%;
    height: 500px;
    gap: 2rem;

    .title {
      font-family: Montserrat;
      text-align: center;
      color: #fff;
      font-size: 4em;
      transform: translateX(-500px);
      opacity: 0;
    }

    .text {
      color: #fff;
      text-align: center;
      font-size: 17px;
      line-height: 1.5rem;
      width: 70%;
      transform: translateX(-500px);
      opacity: 0;
    }

    .btn {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
      border-radius: 30px;
      padding: 15px 70px;
      text-decoration: none;
      font-size: 20px;
      font-family: Montserrat;
      transition: 0.3s ease;
    }

    .btn:hover {
      transform: scale(1.05);
      box-shadow: 1px 1px 10px 1px #fff;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    .content {
      max-width: 100%;
      display: flex;
      gap: 1rem;

      .title {
        font-family: Montserrat;
        text-align: center;
        color: #fff;
        font-size: 2em;
        margin-top: 100px;
        padding: 20px;
      }

      .text {
        width: 100%;
        padding: 20px;
      }

      .btn {
        padding: 10px 20px;
      }
    }
  }
}
